{% extends "books/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="card" style="max-width: 400px; margin: auto;">
    <p style="margin-top: 0;">
        I thought it might be fun to sell some of the many books I have, because I have
        no space for them.
    </p>
    <p>
        For every book there is:
    </p>
    <ul>
        <li>a title</li>
        <li>the author's name</li>
        <li>a picture of the exact book copy you will receive</li>
        <li>a brief AI description</li>
        <li>why I think you should buy it (written manually by me, no AI)</li>
    </ul>
    <p>
        Shipping to the UK only due to current low levels of globalisation.
    </p>
    <p>
        — Theo
    </p>
    <p>
         1/3/2026
    </p>

    <div>
        <a href="{% url 'books:book-list' %}" class="home-link">Home</a>
    </div>
</div>
{% endblock content %}
