name: Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/0.10.7/install.sh | sh
    - name: Run Python linting
      run: uv run ruff check
    - name: Run Python format check
      run: uv run ruff format --check
    - name: Run HTML linting
      run: uv run djade books/templates/**/*.html --check
