name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Load SSH key
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_KEY" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H ${{ vars.HOST }} >> ~/.ssh/known_hosts
      env:
        SSH_KEY: ${{ secrets.SSH_KEY }}

    - name: Deploy to server
      run: |
        ssh root@${{ vars.HOST }} 'su - deploy -c "cd /var/www/bookstore && git pull origin main"'
        ssh root@${{ vars.HOST }} 'su - deploy -c "cd /var/www/bookstore && //home/deploy/.local/bin/uv run sync"'
        ssh root@${{ vars.HOST }} 'su - deploy -c "cd /var/www/bookstore && /home/deploy/.local/bin/uv run /var/www/bookstore/manage.py collectstatic --no-input"'
        ssh root@${{ vars.HOST }} 'su - deploy -c "cd /var/www/bookstore && /home/deploy/.local/bin/uv run /var/www/bookstore/manage.py migrate --no-input"'
        ssh root@${{ vars.HOST }} 'systemctl restart bookstore'
        ssh root@${{ vars.HOST }} 'systemctl restart caddy'
      env:
        SSH_KEY: ${{ secrets.SSH_KEY }}
